<!--
Required attributes:
# migrationLoginFlow
# isEmailConfirmationEnabled
# isPinEnabled
# attributeContract
-->
<th:block th:fragment="signup_form" xmlns:th="http://www.thymeleaf.org">
<p>IM FROM s3!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!.</p>
  <form action="verify-mobile.html" th:action="${migrationLoginFlow} ? @{/personal/sign-up-migration} : @{/personal/sign-up}" th:object="${signUpForm}"
        method="POST" id="signUpForm" class="form-horizontal clearfix" novalidate="novalidate">
    <fieldset>
      <legend th:text="#{personal.legend.general}" th:unless="${migrationLoginFlow}">General</legend>
      <input type="hidden" th:replace="personal/fragment_common :: csrfToken"/>

      <th:block th:fragment="signUpName">
        <th:block th:if="${@applicationPropertyService.isFeatureEnabled(T(com.onegini.web.access.Features).PERSON_NAME_MANDATORY)
        || #maps.containsKey(fieldConfiguration, 'GIVEN_NAME')
        || #maps.containsKey(fieldConfiguration, 'SN')}">

          <p th:text="#{personal.signup.general.intro}">_Please provide personal data.</p>

          <div class="control-group" th:class="'control-group' + (${#fields.hasErrors('firstName')} ? ' error' : '')">
            <label for="firstName" class="control-label" th:text="#{personal.fields.firstName}">_First Name</label>
            <div class="controls">
              <input type="text" name="firstName" id="firstName" th:field="*{firstName}"
                     th:attr="data-msg-required=#{personal.fields.firstName.error}"
                     th:autofocus="${#fields.hasErrors('*') == false}"
                     class="span3"
                     th:readonly="${#maps.containsKey(fieldConfiguration, 'GIVEN_NAME') && fieldConfiguration['GIVEN_NAME'].isEditable() == false}"
              />
              <div class="help-block" th:text="#{personal.fields.firstName.error}" data-messagetype="fielderror"
                   th:if="${#fields.hasErrors('firstName')}">_Please provide your first name
              </div>
            </div>
          </div>
          <div class="control-group" th:class="'control-group' + (${#fields.hasErrors('lastName')} ? ' error' : '')">
            <label for="lastName" class="control-label" th:text="#{personal.fields.lastName}">_Last Name</label>
            <div class="controls">
              <input type="text" name="lastName" id="lastName" th:field="*{lastName}"
                     th:attr="data-msg-required=#{personal.fields.lastName.error}"
                     class="span3"
                     th:readonly="${#maps.containsKey(fieldConfiguration, 'SN') && fieldConfiguration['SN'].isEditable() == false}"
              />
              <div class="help-block" th:text="#{personal.fields.lastName.error}" data-messagetype="fielderror"
                   th:if="${#fields.hasErrors('lastName')}">_Please provide your last name
              </div>
            </div>
          </div>
        </th:block>
      </th:block>
<p>IM FROM s3!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!.</p>

      <th:block th:fragment="signUpEmail">
      <p>IM FROM s3!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!.</p>

        <span th:text="${@idp.rawAttributes['first_name']}" />
        <div class="control-group" th:class="'control-group' + (${#fields.hasErrors('email')} ? ' error' : '')"
             th:with="verificationRequired=${#maps.containsKey(attributeContract, 'EMAIL') and attributeContract['EMAIL'].verificationRequired==true}">
          <label for="email" class="control-label"
                 th:utext="(${verificationRequired} ? #{personal.fields.email} + #{personal.fields.verificationRequired} : #{personal.fields.email})">_Email
            address</label>

          <div class="controls">
            <input name="email" id="email" type="email" th:field="*{email}" class="span3"
                   th:attr="data-msg-required=#{personal.fields.email.error},data-msg-email=#{personal.fields.email.error.malformed}"
                   th:readonly="${#maps.containsKey(fieldConfiguration, 'EMAIL') && fieldConfiguration['EMAIL'].isEditable() == false}"
            />
            <span th:if="${migrationLoginFlow}">
              <a href="#" id="remove-readonly">Change</a>

              <script th:inline="javascript">
                /*<![CDATA[*/
                var oauthEmailPresent = /*[[${oauthEmailPresent}]]*/ false;
                var emailInput = $("#signUpForm #email");
                if (oauthEmailPresent) {
                  emailInput.attr('readonly', 'readonly');
                }

                $("#remove-readonly").click(function () {
                  emailInput.removeAttr('readonly');
                });
                /*]]>*/
              </script>
            </span>
            <div class="help-block" th:text="#{personal.fields.email.error}" data-messagetype="fielderror"
                 th:if="${#fields.hasErrors('email')}">
              _Please provide your email address
            </div>
          </div>
        </div>

        <div class="control-group" th:class="'control-group' + (${#fields.hasErrors('emailConfirmation')} ? ' error' : '')" th:if="${isEmailConfirmationEnabled}">
          <label for="emailConfirmation" th:text="#{personal.fields.email.confirm}" class="control-label">_Confirm Email</label>

          <div class="controls">
            <input type="email" name="emailConfirmation" id="emailConfirmation" class="span3" autocomplete="off"
                   th:field="*{emailConfirmation}"
                   th:attr="data-msg-required=#{personal.fields.email.confirm.error.empty},data-msg-email=#{personal.fields.email.error.malformed},data-msg-equalToIgnoreCase=#{personal.fields.email.confirm.error.mismatch}"
            />
            <th:block th:include="personal/fragment_common :: fieldError" th:with="fieldName='emailConfirmation'"/>
          </div>
        </div>
<p>IM FROM s3!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!.</p>

      </th:block>
<p>IM FROM s3!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!.</p>

      <section th:remove="tag" th:fragment="mobileOrPin"
               th:with="mobileRequiredInAttributeContract=${#maps.containsKey(attributeContract, 'PHONE') and attributeContract['PHONE'].required==true},
                 verificationRequired=${#maps.containsKey(attributeContract, 'PHONE') and attributeContract['PHONE'].verificationRequired==true},
                 mobileMandatory=${@applicationPropertyService.isFeatureEnabled(T(com.onegini.web.access.Features).MOBILE_NUMBER_MANDATORY)},
                 showMobile=${@applicationPropertyService.isFeatureEnabled(T(com.onegini.web.access.Features).MOBILE_NUMBER_SIGNUP_FORM_PRESENT) || #maps.containsKey(fieldConfiguration, 'TELEPHONE_NUMBER')}">

        <th:block th:include="personal/fragment_sign_up :: signUpMobile" th:if="${(!isPinEnabled and showMobile) or mobileRequiredInAttributeContract}"/>

        <th:block th:include="personal/fragment_sign_up :: signUpPin" th:if="${isPinEnabled and !showMobile and !mobileRequiredInAttributeContract}"/>

        <th:block th:include="personal/fragment_sign_up :: signUpMobileOrPin" th:if="${isPinEnabled and showMobile and !mobileRequiredInAttributeContract}"/>

      </section>

      <th:block th:fragment="signUpGender">
        <div class="control-group" th:if="${#maps.containsKey(attributeContract, 'GENDER')}">
          <span class="control-label" th:text="#{personal.fields.gender}">_Gender</span>
          <div class="controls">
            <label class="radio inline" for="gender-m">
              <input type="radio" name="gender" id="gender-m" value="M" th:field="*{gender}"
                     th:value="${T(com.onegini.domain.person.attribute.Gender).M}"
                     th:attr="data-msg-required=#{personal.fields.gender.error}"
                     th:disabled="${#maps.containsKey(fieldConfiguration, 'GENDER') && fieldConfiguration['GENDER'].isEditable() == false}"
              />
              <span th:text="#{personal.fields.gender.male}" th:remove="tag">Male</span></label>
            <label class="radio inline" for="gender-f">
              <input type="radio" name="gender" id="gender-f" value="F" th:field="*{gender}"
                     th:value="${T(com.onegini.domain.person.attribute.Gender).F}"
                     th:attr="data-msg-required=#{personal.fields.gender.error}"
                     th:disabled="${#maps.containsKey(fieldConfiguration, 'GENDER') && fieldConfiguration['GENDER'].isEditable() == false}"
              />
              <span th:text="#{personal.fields.gender.female}" th:remove="tag">Female</span></label>
            <div class="help-block" th:text="#{personal.fields.gender.error}" data-messagetype="fielderror"
                 th:if="${#fields.hasErrors('gender')}">
              _Please select your gender
            </div>
          </div>
        </div>
        <p>IM FROM s3!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!.</p>

      </th:block>
<p>IM FROM s3!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!.</p>

      <th:block th:fragment="signUpBirthDate">
        <div class="control-group" th:if="${#maps.containsKey(attributeContract, 'BIRTH_DATE')}"
             th:class="'control-group' + (${#fields.hasErrors('birthDateDay') or #fields.hasErrors('birthDateYear') or #fields.hasErrors('birthDateYear')} ? ' error' : '')">
          <span class="control-label" id="birthDate" th:text="#{personal.fields.birthDate}">_Date of Birth</span>
          <div class="controls controls-row">
            <section th:if="${personAttributes['BIRTH_DATE'] == null or !personAttributes['BIRTH_DATE'].verified}"
                     th:replace="personal/fragment_profile_form :: birthDateFields">
            </section>
          </div>
        </div>
      </th:block>
    </fieldset>

    <th:block th:fragment="signUpAddress">
    <p>IM FROM s3!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!.</p>

      <fieldset th:if="${#maps.containsKey(attributeContract, 'ADDRESS') OR #maps.containsKey(attributeContract, 'ADDRESS_ALT')}">
        <th:block th:switch="${#maps.containsKey(attributeContract, 'ADDRESS_ALT')}">
          <th:block th:case="true">
            <legend th:text="#{personal.legend.address}">_Address</legend>
            <h3 th:text="#{'personal.legend.address.' + ${attributeContract['ADDRESS'].label}}">_Billing address</h3>
          </th:block>
          <legend th:case="*" th:text="#{'personal.legend.address.' + ${attributeContract['ADDRESS'].label}}">_Billing Address</legend>
        </th:block>

        <!-- "billing" -->
        <section th:if="${#maps.containsKey(attributeContract, 'ADDRESS')}"
                 data-section-type="address" data-address-prefix="address"
                 th:include="personal/fragment_profile_form :: addressFields" th:with="field='address'">
        </section>

        <!-- "shipping" -->
        <th:block th:if="${#maps.containsKey(attributeContract, 'ADDRESS_ALT')}">
          <div class="control-group">
            <div class="controls">
              <label for="billingIsShippingAddress" class="checkbox"><input id="billingIsShippingAddress"
                                                                            type="checkbox" th:field="*{billingIsShippingAddress}"/>
                <th:block
                    th:text="#{personal.fields.address.useSameAddress} + ' ' + ${#strings.toLowerCase('__#{'personal.legend.address.' + ${attributeContract['ADDRESS_ALT'].label}}__')}">
                  _Use same address for x</th:block></label>
            </div>
          </div>

          <section id="shippingAddress" data-section-type="address" data-address-prefix="addressAlt1">
            <hr/>
            <h3 th:text="#{'personal.legend.address.' + ${attributeContract['ADDRESS_ALT'].label}}">_AlternativeAddress</h3>
            <th:block th:include="personal/fragment_profile_form :: addressFields"
                      th:with="field='addressAlt1'"/>
          </section>

        </th:block>

      </fieldset>
    </th:block>

    <fieldset th:fragment="signUpToU">
      <legend th:text="#{personal.legend.termsOfUse}" th:unless="${migrationLoginFlow}">_Terms of Use</legend>
      <div class="control-group" th:classappend="${#fields.hasErrors('termsOfUse')} ? ' error' : ''">
        <label for="termsOfUse" class="checkbox">
          <input type="checkbox" name="termsOfUse" id="termsOfUse" th:field="*{termsOfUse}"
                 th:attr="data-msg-required=#{personal.fields.termsOfUse.error.required}"/>
          <span th:utext="#{personal.fields.termsOfUse(@{#{TERMS-OF-USE-URL}})}"
                th:remove="tag">_I agree with the <a href="content-page.html" target="_blank">Terms of Use</a>.</span>
        </label>
      </div>
    </fieldset>
    
    <p>IM FROM s3!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!.</p>
<p>IM FROM s3!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!.</p>


    <th:block th:fragment="signUpSubmit">
      <th:block th:include="personal/fragment_common :: submitCancel"
                th:with="submitText=#{personal.registration.submit},alignRight=true,cancelId='cancel-sign-up',cancelLink=(${cancelTo} ? ${cancelTo} : @{/personal/sign-up/cancel})"/>

    </th:block>
  </form>
</th:block>